<!DOCTYPE html>
<html>
<head>
	<title>Welcome to TestMax Quiz Application</title>
	<meta name="description" content="Welcome to the TestMax Quiz Application."/>
	<meta name="keywords" content="TestMax, Quiz Application"/>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<div class="wrap">
		<div class="header">
			<h2>TestMax Quiz Application</h2>
		</div>
	</div>

	Welcome to the
<div class="wrap_content">
<div class="container"><h2 style="text-align:center">Photos of Shah</h2>
<div class="fullwidth">
<img src="../images/6.png" width="300" height="180" class="gall_rotate">
<img src="../images/7.jpg" width="300" height="180" class="gall_rotate">
<img src="../images/8.jpg" width="300" height="180" class="gall_rotate">
<img src="images/9.jpg" width="300" height="180" class="gall_rotate">

</div>


</div>
</div>
<div class="footwrap" style="margin-top:50px;">
<div class="foot">
	<div id="col1">
		<h2>About Us</h2>
		<ul>
			<li>Home</li>
			<li>Home</li>
			<li>Home</li>
			<li>Home</li>
		</ul>
	</div>
	<div id="col1">
		<h2>QuickLinks</h2>
		<ul>
			<li>Home</li>
			<li>Home</li>
			<li>Home</li>
			<li>Home</li>
		</ul>
	</div>
	<div id="col1">
	<h2>Whats New?</h2>
		<ul>
			<li>Home</li>
			<li>Home</li>
			<li>Home</li>
			<li>Home</li>
		</ul>
	</div>
</div>
</div>
</body>
</html>