<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Welcome to TestMax Quiz Application</title>
	<meta name="description" content="Welcome to the TestMax Quiz Application."/>
	<meta name="keywords" content="TestMax, Quiz Application"/>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<div class="wrap">
		<div class="header">
			<h2>TestMax Quiz Application</h2>
		</div>
	</div>

<div class="wrap_content">
<div class="container"><h3 style="text-align:center">Welcome to the TestMax Quiz Application.

    When you are ready, click on the Start button. To review your answers, click on the Review button.</h3>
<div class="fullwidth">
    <a href="../quizQuestions.html" class="button">Start</a>
    <a href="../templates/reviewAnswers.html" class="button">Review</a>



</div>


</div>
</div>
</body>
</html>